@model Events_App.Models.Event
<body>
    <h2 class="text-center mt-5">Editare event</h2>
    <br />
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-3">
                @using (Html.BeginForm(actionName: "Edit", controllerName: "Events",
                method: FormMethod.Post,
                routeValues: new { id = Model.EventId }))

                {
                    /* @Html.HiddenFor(m => m.Id)  */


                    @Html.Label("Title", "Titlu Event")
                    <br />
                    @Html.EditorFor(m => m.Title, new { htmlAttributes = new { @class = "form-control" } })

                    @Html.ValidationMessageFor(m => m.Title, null, new { @class = "text-danger" })
                    <br />

                    <br />

                    @Html.Label("Description", "Descriere event")
                    <br />
                    @Html.Editor("Description", new { htmlAttributes = new { @class = "form-control" } })

                    @Html.ValidationMessageFor(m => m.Description, null, new { @class = "text-danger" })
                    <br />

                    <br />

                    <br />

                    <label>Selectati categorria</label>
                    @Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.Categ, "Value", "Text"),
                    "Selectati Categoria", new { @class = "form-control" })

                    @Html.ValidationMessageFor(m => m.CategoryId, null, new { @class = "text-danger" })
                    <br />

                    <br />

                    @Html.Label("Date", "Data Evenimentului")
                    <br />
                    @Html.TextBoxFor(model => model.Date,
                    new { @type = "date", @Value = Model.Date.ToString("yyyy-MM-dd"), @class = "form-control" })


                    @Html.ValidationMessage("Date", null, new { @class = "text-danger" })
                    <br />

                    <br />

                    @Html.Label("Location", "Locatie event")
                    <br />
                    @Html.Editor("Location", new { htmlAttributes = new { @class = "form-control" } })

                    @Html.ValidationMessageFor(m => m.Description, null, new { @class = "text-danger" })
                    
                    <br />

                    <br />

                    <button class="btn btn-info" type="submit">Modifica event</button>

                }
            </div>
        </div>
    </div>

</body>


